node_modules
jspm_packages
.serverless
serverless.custom.yml
parallel_serverless.yml
.webpack
.terraform*
*.tfstate
*.tfstate.backup
.idea
.vscode
package-lock.json
.eslintcache
.env
.aws
coverage
/lib
.DS_Store
yarn-error.log
.yarnrc
.npmrc
.testdata
pacts/
